.m-0 {
  margin: 0!important;
}
.mb-0 {
  margin-bottom: 0!important;
}
.mb-10px {
  margin-bottom: 10px!important;
}
.mt-5px {
  margin-top: 5px!important;
}

.h-auto {
  height: auto!important;
}

.mt-20px {
  margin-top: 20px!important;
}

td.noresize.v_top_exception {
  vertical-align: top;
}

.text-white {
  color: #fff!important
}

.fs-16px {
  font-size: 16px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media print {
	.print-disable-ahref {
		a[href]:after {
			content: "" !important;
		}
	}
}