@import "palette";

@import "modules/fontawesome";
@import "modules/bootstrap";

html {
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    // always show up-down scrollbar to prevent content from jumping left/right
    // depending on whether the page is taller than 100% of viewport height
    overflow-y: scroll;
}


@import "helpers";

// Module overrides
@import "modules/forms";
@import "modules/alerts";
@import "modules/btns";
@import "modules/pager";
@import "modules/scaffolding";
@import "modules/nav";
@import "modules/nav-panel";
@import "modules/pagination";
@import "modules/panel";
@import "modules/breadcrumb";
@import "modules/normalize";
@import "modules/table";
@import "modules/listing";
@import "modules/note";
@import "modules/sidebar-menu";

// Error pages can have their own overrides.
@import "pages/dashboard";
@import "pages/payment";

@import "errors";