.mt-10px{
  margin-top: 10px!important;
}

.mr-5px{
  margin-right: 5px!important;
}

.mr-15px{
  margin-right: 15px!important;
}

.pt-20 {
	padding-top: 20px!important;
}

.pr-22px{
  padding-right: 22px!important;
}

.gap{
  display: block;
}

.gap-50{
  height: 50px!important;
}
