// Theme colours.
$app-base-light: #fff;
$app-base-medium: #f0f3f4;
$app-base-dark: #333;

$app-primary: #008bd6;
$app-secondary: #66afe9;

$app-link: #ca6326;
$app-link-hover: #e16d29;

$app-gray-light: #ccc;
$app-gray: #7a7a7a;
$app-gray-darker: #444444;
$app-gray-darkest: #1E1E1E;

$app-icons: $app-gray-darker;

// Statuses
$app-green: $app-primary;
$app-dark-green: darken($app-green, 10%);

$app-blue: #3498db;
$app-dark-blue: darken($app-blue, 10%);

$app-red: #ff6f6f;
$app-dark-red: darken($app-red, 10%);

$app-teal: #0dccc0;
$app-dark-teal: darken($app-teal, 10%);

$app-yellow: #F7CA18;
$app-dark-yellow: darken($app-yellow, 10%);

$app-pink: #b23f73;
$app-dark-pink: darken($app-pink, 10%);

$app-grey: #ecf0f1;
$app-dark-grey: darken($app-grey, 10%);

$app-orange: #FF8800;
$dark-orange: darken($app-orange, 10%);
