@import "palette";

@import "modules/fontawesome";
@import "modules/bootstrap";

html {
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    // always show up-down scrollbar to prevent content from jumping left/right
    // depending on whether the page is taller than 100% of viewport height
    overflow-y: scroll;
}


@import "helpers";

// Module overrides
@import "modules/forms";
@import "modules/alerts";
@import "modules/btns";
@import "modules/pager";
@import "modules/scaffolding";
@import "modules/nav";
@import "modules/pagination";
@import "modules/breadcrumb";
@import "modules/normalize";
@import "modules/table";


@import "modules/commons";
@import "modules/tabs";
@import "modules/social";
@import "modules/featured-products";
@import "modules/checkout";
@import "modules/slick";
@import "modules/slider";
@import "modules/misc";


// plugins
@import "plugins/icomoon";
@import "plugins/select2";
@import "plugins/jquery.bootstrap-touchspin";


// Error pages can have their own overrides.
@import "errors";