.ui-widget.ui-widget-content {
  padding: 0;
  border-color: #3c8dbc!important;
}

.ui-datepicker .ui-datepicker-header {
  background: #3c8dbc;
  border: 0;
  border-radius: 0;
  color: #fff;
}

.ui-datepicker th {
  background: #f1f1f1;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html
.ui-button.ui-state-disabled:hover{
  border: 0!important;
  background: transparent!important;
  text-align: center;
  font-weight: 600!important;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 7px 0;
  margin: auto;
}


.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: 0!important;
  background: transparent!important;
  font-weight: normal;
  color: #fff!important;
}

.ui-state-default.ui-state-active {
  background: #3c8dbc!important;
  color: #fff!important;
  pointer-events: none;
}
.ui-state-default.ui-state-hover {
  color: #3c8dbc!important;
}

.ui-state-default.ui-state-highlight {
  background-color: #ddd!important;
  color: #777!important;
}


///

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
  font-size: 18px;
  color: #fff;
  line-height: 1;
  font-weight: normal!important;
  line-height: .8;
  text-indent: 0;
  font-size: 0;
}


.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: auto!important;
  bottom: auto!important;
  color: #fff!important;

}


.calendar-lg .ui-datepicker {
  width: 100%;
  max-width: 420px;
}
.calendar-sm .ui-datepicker {
    width: 100%;
}
.calendar-sm .ui-state-default,
.calendar-sm .ui-widget-content .ui-state-default, 
.calendar-sm .ui-widget-header .ui-state-default, 
.calendar-sm .ui-button,
html .calendar-sm .ui-button.ui-state-disabled:hover{
    width:25px;
    height:25px;
    padding: 5px 0;
}
.calendar-sm .has-order-delivery .ui-state-default {
    background-color: #b8e5ff !important;
}

.ui-icon-circle-triangle-w,
.ui-icon-circle-triangle-e {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon-circle-triangle-e:before {
  content: "\f105";
  font-size: 19px;
  text-align: center;
  display: block;
}
.ui-icon-circle-triangle-w:after {
  content: "\f104";
  font-size: 19px;
  text-align: center;
  display: block;
}