.side_tree_holder{
  float: left;
  width:249px;
  border-left: 1px solid #dddede;
}

.tree_heading{
  float:left;
  padding: 0 15px 0 15px;
  width: 219px;
  background: url(../images/treeview/tree_heading.png) left bottom repeat-x;
  border-bottom: 1px solid #dddede;
  position: relative;
}

.tree_heading h4{
  color: #55585d;
  font-family: 'cuprum_regular', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 25px 0 7px 0;
  line-height: 100%;
  width: 145px;
}

.tree_content{
  float: left;
  padding: 10px 15px 0 15px;
  width: 220px;
}

#tree{
  margin-bottom: 10px;
}

#sidetreecontrol, #sidetreecontrol2{
  position: absolute;
  bottom:0px;
  right: 9px;
}

#sidetreecontrol a, #sidetreecontrol2 a{
  text-decoration: none;
  background: url(../images/treeview/expand.png) right 6px no-repeat;
  float: left;
  padding: 0 10px 0 0;
}

#sidetreecontrol a:first-child, #sidetreecontrol2 a:first-child{
  text-decoration: none;
  background: url(../images/treeview/expand.png) right -20px no-repeat;
  float: left;
  padding: 0 10px 0 0;
}


.treeview, .treeview ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.treeview ul {
  margin-top: 4px;
}

.treeview .hitarea {
  background: url(../images/treeview/treeview-le.gif) -63px -23px no-repeat;
  height: 16px;
  width: 16px;
  margin-left: -15px;
  float: left;
  cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
  display: inline;
  float:none;
}

.treeview li {
  margin: 0;
  padding: 3px 0 3px 16px;
}

#treecontrol { margin: 1em 0; display: none;}

.treeview li { background: url(../images/treeview/treeview-le-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -79px -2px; }

.treeview li.last { background-position: 0 -1762px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview/treeview-le.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../images/treeview/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../images/treeview/treeview-red.gif); }

.treeview-black li { background-image: url(../images/treeview/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../images/treeview/treeview-black.gif); }

.treeview-gray li { background-image: url(../images/treeview/treeview-gray-line.gif); }

.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../images/treeview/treeview-gray.gif); }

.treeview-famfamfam li { background-image: url(../images/treeview/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../images/treeview/treeview-famfamfam.gif); }

.treeview .placeholder {
  background: url(../images/treeview/ajax-loader.gif) 0 0 no-repeat;
  height: 16px;
  width: 16px;
  display: block;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../images/treeview/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../images/treeview/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../images/treeview/file.gif) 0 0 no-repeat; }

.sidetreecontrol {
  color:#4f4f4f;
  margin-bottom:6px;
}

.sidetreecontrol a, .sidetreecontrol a:visited {
  color:#4f4f4f;
  text-decoration:underline;
  padding:0 4px;
  outline:none;
}

.treeview input{
  margin-top: 1px;
  margin-left: 2px;
  vertical-align: top;
  float: right !important;
}

.treeview a, .treeview a:visited, .treeview span {
  background:url(../images/treeview/tree-folder.gif) 4px 1px no-repeat;
  padding-left:22px;
  display:inline-block;
  text-decoration:none;
}

.treeview ul a, .treeview ul a:visited, .treeview ul span {
  background:url(../images/treeview/tree-folder2.gif) 4px 1px no-repeat;
  padding-left:22px;
  display: inline-block;
  text-decoration:none;
}

.treeview .hover, .treeview .hover a, .treeview .hover a:visited, .treeview a:hover, .treeview a.selected { color: #009fe0 !important; cursor: pointer; }


/*.treeview a{
	max-width: 165px;
}*/

.radio_link_holder,.checkbox_link_holder{
  margin-top: 2px;
  border-bottom: 1px solid #e9e9ea;
  padding: 0 0 10px 0;
}

.radio_link_holder input[type="radio"], .checkbox_link_holder input[type="checkbox"]{
  float: left;
}

.radio_link_holder a, .checkbox_link_holder a{
  display: table-cell !important;
}

.treeview li a{
  font-family: 'cuprum_regular', sans-serif;
  color: #8e9598;
  font-size: 18px;
  line-height: 15px;
}

.tree_count{
  background: none !important;
  padding: 0 !important;
  font-size: 13px !important;
  font-weight: bold !important;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.treeview li li a{
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 13px;
}

.treeview li li a .tree_count{
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 12px !important;
}



.treeview li a {
  font-size: 14px;
  color: #333;
}