.page-single{
  .product-title{
    color: #545454;
    width: auto;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 5px;
    float:left;
  }

  .product-price{
    float: right;
    color: #72cd70;
    font-size: 32px;
    font-weight: 400;
  }

  .product-code{
    float: left;
    width: 100%;
  }

  .product-quantity{
    .form-control{
      width: 70px;
      // height: 46px;
      border-radius: 0;
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }

    .input-group{
      display: inline-flex;
      vertical-align: middle;
    }
  }



}


.product-code{
  font-size: 20px;
  font-weight: normal;
  color: #b5b5b5;
}

.product-heading{
  @include clearfix();
  padding-bottom: 1.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid #e8e8e9;
}



.section-bottom{
  @include clearfix();
  margin-top: 3em;

  .product-content{
    text-align: left;
      padding: 0 2em;
  }

    .product-img {
  min-height: 125px;
}
}


// layout

.section-grey{
  padding: 20px;
  background: #eee;

  .breadcrumb{
    margin-bottom: 0;
  }
}