header, footer {

}


.main-content{
  height: auto !important;
  min-height: 100%;
  padding-top: $navbar-height;

  @include clearfix();
}

$sidebar-color: $brand-primary;
.main-content-sidebar {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  float: left;
  width: 200px;
  margin-right: -200px;
  background: $sidebar-color;
  min-height: 400px;
}

.main-content-body {
  float: right;
  width: 100%;
  padding-left: 200px;
  min-height: 690px;
}

.main-content-body-inner {
  position: relative;
  overflow: hidden;
  padding-top: 1px;
  padding: 0 20px;
}

///


.main-content-heading {
  @include clearfix();

  padding: 10px 0;

  > h3 {
    margin: 0;
    font-size: 22px;
  }

  ////


  h4 {
    display: inline-block;
  }

  .list-inline-label {
    display: inline-block;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;

    > li {
      display: inline-block;
      padding: 0 20px;
      border-left: 1px solid #ddd;
      font-size: 13px;
      font-style: italic;
      color: #6f6f6f;

      select {
        font-weight: bold;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border: 0;
        outline: none!important;
        pointer-events: none;
      }

      select,
      strong {
        display: block;
        font-size: 17px;
        color: #484848;
        font-style: normal;
      }

      &:first-child {
        border: 0;
        padding-left: 0;
      }
    }
  }
}

.label-note {
  font-size: 12px;
  opacity: .7;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
  color: #333;
}

.tab-l2 {
  .tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    border-top: 0;
  }

  .nav-tabs > li > a {
    text-transform: uppercase;
    font-weight: 600;
  }

  .table,
  .panel {
    margin: 0;
  }
}
///
.main-footer {
  background: #fff;
  padding-left: 200px;
  margin-top: 30px;
  height: 46px;

  .navbar {
    border-radius: 0;
    padding: 14px 16px;
    border-top: 1px solid #eee;
    font-size: 13px;
    min-height: 0;
  }

  .copyright{
    margin: 0;
  }

  .list-inline {
    margin: 0;
  }
}


////

.modal-notify {
  .modal-header {
    padding: 8px 15px;
  }

  p {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      width: 400px;
    }
  }

}

.mt-0 {
  margin-top: 0!important;
}