.app-footer {
  background-color: #333232;
}

.menu-secondary {
  padding-top: 60px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    margin-right: 25px;
  }

  a {
    display: block;
    font-size: 16px;
    color: #c0c0c0;

    &:focus{
      outline: 0;
    }
  }
}

.copyright {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #878686;
}