
.app-drawer {
  background-color: $gray;
}

.app-brand {
  float: left;
  width: 293px;
  height: 47px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("../../images/brand.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media(max-width: 480px){
    width: 100%;
    float: none;
  }
}

.app-login-btn {
  float: right;
  padding-top: 30px;
  padding-bottom: 30px;

  @media(max-width: 480px){
    float: none;
    text-align: center;
    padding: 10px 0;

    .btn{
      width: 100%;
    }
  }

  &.dropdown{
    &:hover{
      .dropdown-menu{
        display: block;
        top: 80px;

        > li{
          > a{
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.nav-menu {
  float: left;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
  }

  .has-dropdown {
    >  a {
      padding-left: 20px;
      padding-right: 30px;
    }
  }

  a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    color: #fff;
    text-transform: uppercase;
    @nclude transition(all .4s linear);

    &:hover {
      text-decoration: none;
      background-color: fade(#1d1c1c, 40);
    }
  }

}

.nav-stroked {
  position: relative;
  float: right;

  a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 26px;
    border-right: 1px solid #434141;
    font-size: 22px;
    color: #b6b6b6;
  }
}

.js-counter-view {
  position: relative;
  top: -5px;
  font-size: 15px;
  color: #fff;
}

.has-dropdown {
  position: relative;
  > a {
    position: relative;

    &:after {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -moz-osx-font-smoothing: grayscale;
      font-size: 24px;
      content: "\e601";
    }
  }
}

.has-dropdown:hover .dropdown-menu {
  display: block;

  @media(max-width: 480px){
    width: 100%;
  }
}

.dropdown-menu{
  border-radius: 0;
  padding: 9px 5px;
  background: $gray;
  margin-top: 13px;
  box-shadow: none;
  min-width: 250px;
  border: 0;

  > li{
    float: none;
    > a{
      background: $gray;
      color: #fff;
      padding: 10px 15px;
      display: block;

      &:hover{
        background: #fff;
        color: $gray;
      }
    }
  }

  &:before{
    /*  position: absolute;
      top: -7px;
      left: 18px;
      background-color: $gray;
      content: "\00a0";
      display: block;
      height: 12px;
      width: 13px;
      border: 1px solid $gray;
      border-right-width: 0px;
      border-bottom-width: 0px;
      transform: rotate(45deg) skew(5deg);
      -moz-transform: rotate(45deg) skew(5deg);
      -ms-transform: rotate(45deg) skew(5deg);
      -o-transform: rotate(45deg) skew(5deg);
      -webkit-transform: rotate(45deg) skew(5deg);*/
  }
}

.app-header{
  @media(max-width: 620px){
    display: none;
  }
}

.app-header-mobile{
  display: none;
  opacity: 0;

  .app-drawer{
    @include clearfix();
  }

  @media(max-width: 620px){
    display: block;
    opacity: 1;
  }
}

.mobile-menu{
  display: none;
  border: 2px solid #c7c8c7;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 15px;

  .has-dropdown{
    a{
      &:after{
        display: none;
      }
    }
  }

  li{
    a {
      display: block;
      padding: 10px;
      text-align: center;
      color: #848484;
      text-transform: uppercase;
      @nclude transition(all .4s linear);

      &:hover {
        color: #fff;
        text-decoration: none;
        background-color: fade(#1d1c1c, 40);
      }
    }
  }

  .dropdown-menu{
    width: 100%;
  }
}

.menu-toggle{
  margin-top: 30px;
  border: 2px solid #c7c8c7;
  float: right;
  padding: 10px;
  border-radius: 3px;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #848484;
  text-transform: uppercase;

  &:hover{
    cursor: pointer;
    text-decoration: none;
  }
}

.app-brand-logo{
  width: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
}