body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.img-stroked {
  border: 2px solid #c7c8c7;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


::selection {
  background-color: #16a34f;
  color: #fff;
  text-shadow: none;
}

-moz::selection {
  background-color: #16a34f;
  color: #fff;
  text-shadow: none;
}