.navbar-fixed-top  {
  + .alert {
    margin-left: 200px;
    margin-top: $navbar-height;
    border-radius: 0;
    border: 0;
    margin-bottom: -$navbar-height;

    p {
      margin: 0;
    }

    h4 {
      display: none;
    }
  }
}
