

.breadcrumb {
  margin: 0;

  > li {

    a {
      font-size: 12px;
    }

    + li:before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f105";
      color: #777;
      padding: 0 7px;
    }

    &.active {
      a {
        pointer-events: none;
        color: #888;
      }
    }
  }
}

