.btn {
  border: 0;
}

.btn-file {
  overflow: hidden;
}

.btn-default {
  border: 1px solid #ddd;
}

.btn-edit-sm {
  display: block;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.btn-sm, .btn-group-sm{font-size:15px!important;}

