.form-control {
  box-shadow: none;

  .list-inline {
    margin: 0;
  }

  label {
    margin: 0;
  }

}

.radio, .checkbox {
  margin-left: 20px;
}

.form-horizontal {
  .control-label {
    padding-top: 7px;
    font-size: 13px;
    line-height: 1.2;
    padding-right: 0;
  }

  .checkbox,
  .radio {
    padding-top: 0;
    min-height: 23px;
  }
}



//// DATEPICKER

.datepicker-holder-control {
  position: relative;
}

.ui-datepicker-trigger {
  position: absolute;
  //background-color: #008bd6;
  top: 0;
  right: 0;
  margin: 7px;
}


///

.title-legend {
  text-transform: uppercase;
  font-size: 15px;
  color: $brand-primary;
  margin: 18px 0 12px;
  letter-spacing: 2px;
  font-weight: bold;


  .form-group & {
    margin-bottom: 0;
  }
}


///

.alert {
  display: block;
  padding: 10px 14px;
  margin-bottom: 12px;
}



////


.file input[type=file] {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  font-size: 100px;
}


.upload {
  .input_holder {
    position: relative;
    padding: 0 0 10px 0;
  }
}


/// EDITOR WYSIYG

.cke_top {
  background: #eee!important;
  box-shadow: none!important;
  border-color: #ddd!important;
}

.cke_chrome {
  box-shadow: none!important;
  border-color: #ccc!important;
}

.cke_bottom {
  box-shadow: none!important;
  background-image: none!important;
  background-color: #eeeeee!important;
  border-color: #ddd!important;
}

a.cke_combo_button {
  background-image: none!important;
  background-color: #fff!important;
}

.cke_toolgroup {
  background: #fff!important;
}

.cke_toolgroup {
  margin-right: 0!important;
}


///


.select2-container {
  width: 100%!important;
}

.select2-container-multi .select2-choices {
  box-shadow: none!important;
  background: #fff!important;
  border-radius: 3px!important;
  min-height: 32px!important;
  padding: 4px 0!important;
}

.form-search {
  position:relative;

  .is-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 10px;
  }
}

/////

textarea.form-control {
  height: auto;
  min-height: 100px;
}

////


.thumbnail-profile {
  min-height: 100px;
  text-align: center;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;

  margin-bottom: 10px;
}

///

