
.form-filter {
  display: none;
  background: #eee;
  padding: 8px 15px 16px;
  clear: both;
  margin-bottom: 14px;


  &.is-show {
    display: block;
  }
}


.form-filter-2 {
  padding: 24px 20px 18px;
}

.form-filter-label {
  font-size: 16px;
  font-weight: 600;
  color: #3c8dbc;
  margin: 0 0 17px;
}

.form-filter-actions {
  border-top: 1px solid #ddd;
  margin-top: 14px;
  padding-top: 14px;
  text-align: right;
}

.date-filter-btn {
  text-align: center;
  padding-top: 10px;
  max-width: 420px;
}


  ////

.table {
  background: #fff;

  + .pagination {
    margin-top: -8px;
  }
}

.table-action-inline {
  padding: 0;
  line-height: 1;
  margin: 0;

  > li {
    display: inline-block;
    font-size: 15px;

    > a {
      &:hover {
        text-decoration: underline;
      }
    }

    &:before {
      content: '|';
      display: inline-block;
      color: #c3c3c3;
      margin: 0 6px 0 2px;
    }

    &:first-child {
      &:before {
        content: '';
        margin: 0;
      }
    }
  }
}

///


.actionlinks {
  margin: 5px 0;
}

//

.default_list {
  list-style: none;
  float: left;
  margin: 5px 0 0 0;
  padding: 0;
}


.listing-actions {
  @include clearfix;
  padding: 14px 0;
  border-top: 1px solid #eee;


  .actionbox {
    float: left;
  }

  .show-table-filter {
    float: right;
  }
}


.actionbox {
  @include clearfix;

  > * {
    display: inline-block;
  }

  .form-inline {
    margin-left: 5px;
  }
}




  ///

.table-utility {
  @include clearfix;
  margin-bottom: 10px;
}


///



///

.small_image_preview {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;


  a {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    padding: 2px;
  }
}


///

.default_list{
  list-style: none;
  float: left;
  margin: 5px 0 0 0;

  > li{
    list-style: none;
    float: left;
    width: auto;

    &.separator{
      float: left;
      padding: 0 10px 0 10px;
      font-weight: normal;
      color: #55585d;
    }

    a{
      font-weight: bold;
      color: #55585d;
      float: left;

      &:hover{
        color: #009FE0;
      }
    }
  }
}


///


.table {
  .td-thumb {
    width: 90px;
    text-align: center;
    vertical-align: middle;

    .fa {
      font-size: 30px;
    }
  }
}



/////


.pagination-holder {
  @include clearfix;

  .pagination {
    margin: 0;

    float: right;
  }
}


///

.filter-holder {
  @include clearfix;
}

.top-filter-holder {
  @include clearfix;
  .filter-holder {
    float: left;
  }

  .show-table-filter {
    float: right;
    margin-bottom: 12px;
  }

  .form-inline.pull-right {
    margin-bottom: 10px;
  }
}