.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #222d32;

  .navbar-right {
    > li {
      border-left: 1px solid #323f46;
    }
  }


  .navbar-tr {
    background: #1a2226;
    border: 0!important;
  }

  .dropdown-menu {
    min-width: 200px;
    border: 0;
    box-shadow: none;
    background-color: $navbar-inverse-link-hover-bg;

    > li {
      > a {
        color: #fff;

        &:hover {
          background-color: darken($navbar-inverse-link-hover-bg, 10%);
        }
      }
    }
  }

  .navbar-brand {
    background-color: #1a2226;
    color: #fff;
    font-weight: 400;
    width: 200px;
    padding: 18px 8px;
    pointer-events: none;

    span {
      font-weight: 700;
      font-size: 18px;
      margin-left: 3px;
    }

    &:hover {
      color: #fff;
    }
  }
}

.navbar-brand {
  @include transition(all .2s);
  font-weight: 600;
  font-size: 14px;

  > img {
    display: inline-block;
    margin-right: 4px;
    margin-top: -7px;
  }
}
