.panel-nav-holder {
  margin-bottom: 14px;

  .btn {
    font-size: 15px;
    border-radius: 0!important;
  }
}

.second_menu_wrapper {
  padding: 13px 0;
  border: 1px solid #dedede;
  margin-bottom: 20px;
}

.second_menu_wrapper{
  padding: 13px 0;
  border: 1px solid #dedede;
}

.second_menu_holder{
  width: 100%;
  max-width:1910px;
  margin:0 auto;
}

.second_menu {
  width:100%;
  margin:0;
  overflow:hidden;
  text-align: center;
}

.second_menu ul {
  list-style:none;
  overflow:hidden;
  display:inline-block;
  margin: 0;
  line-height: 1;
}

.second_menu ul li {
  float:left;
  margin: 0 11px 0 11px;
}

.second_menu ul li a{
  float:left;
  width: 85px;
  position:relative;
  height: 85px;
}

.second_menu ul li a.circle_information{
  background: url('../../images/circle_tabs.png') 0 0 no-repeat;
}
.second_menu ul li a.circle_information:hover, .second_menu ul li a.circle_information.active{
  background: url('../../images/circle_tabs.png') 0 -85px no-repeat;
}

.second_menu ul li a.circle_price{
  background: url('../../images/circle_tabs.png') -108px 0 no-repeat;
}
.second_menu ul li a.circle_price:hover, .second_menu ul li a.circle_price.active{
  background: url('../../images/circle_tabs.png') -108px -85px no-repeat;
}

.second_menu ul li a.circle_documents{
  background: url('../../images/circle_tabs.png') -216px 0 no-repeat;
}
.second_menu ul li a.circle_documents:hover,.second_menu ul li a.circle_documents.active{
  background: url('../../images/circle_tabs.png') -216px -85px no-repeat;
}

.second_menu ul li a.circle_videos{
  background: url('../../images/circle_tabs.png') -324px 0 no-repeat;
}
.second_menu ul li a.circle_videos:hover, .second_menu ul li a.circle_videos.active{
  background: url('../../images/circle_tabs.png') -324px -85px no-repeat;
}

.second_menu ul li a.circle_related{
  background: url('../../images/circle_tabs.png') -432px 0 no-repeat;
}
.second_menu ul li a.circle_related:hover,.second_menu ul li a.circle_related.active{
  background: url('../../images/circle_tabs.png') -432px -85px no-repeat;
}

.second_menu ul li a.circle_upsell{
  background: url('../../images/circle_tabs.png') -540px 0 no-repeat;
}
.second_menu ul li a.circle_upsell:hover,.second_menu ul li a.circle_upsell.active{
  background: url('../../images/circle_tabs.png') -540px -85px no-repeat;
}

.second_menu ul li a.circle_info_tabs{
  background: url('../../images/circle_tabs.png') -648px 0 no-repeat;
}
.second_menu ul li a.circle_info_tabs:hover, .second_menu ul li a.circle_info_tabs.active{
  background: url('../../images/circle_tabs.png') -648px -85px no-repeat;
}

.second_menu ul li a.circle_meta_content{
  background: url('../../images/circle_tabs.png') -756px 0 no-repeat;
}
.second_menu ul li a.circle_meta_content:hover, .second_menu ul li a.circle_meta_content.active{
  background: url('../../images/circle_tabs.png') -756px -85px no-repeat;
}

.second_menu ul li a.circle_sub_categories, .second_menu ul li a.circle_sub_pages{
  background: url('../../images/circle_tabs.png') -864px 0 no-repeat;
}
.second_menu ul li a.circle_sub_categories:hover, .second_menu ul li a.circle_sub_categories.active,
.second_menu ul li a.circle_sub_pages:hover, .second_menu ul li a.circle_sub_pages.active{
  background: url('../../images/circle_tabs.png') -864px -85px no-repeat;
}

.second_menu ul li a.circle_users{
  background: url('../../images/circle_tabs.png') -972px 0 no-repeat;
}
.second_menu ul li a.circle_users:hover, .second_menu ul li a.circle_users.active{
  background: url('../../images/circle_tabs.png') -972px -85px no-repeat;
}

.second_menu ul li a.circle_products{
  background: url('../../images/circle_tabs.png') -1080px 0 no-repeat;
  position: relative;
}
.second_menu ul li a.circle_products:hover, .second_menu ul li a.circle_products.active{
  background: url('../../images/circle_tabs.png') -1080px -85px no-repeat;
}

.second_menu ul li a.circle_accordions{
  background: url('../../images/circle_tabs.png') -1188px 0 no-repeat;
  position: relative;
}
.second_menu ul li a.circle_accordions:hover, .second_menu ul li a.circle_accordions.active{
  background: url('../../images/circle_tabs.png') -1188px -85px no-repeat;
}

.circle_number{
  padding: 3px 6px 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
  background-color: #1eb1f9;
  -webkit-border-radius: 8px 8px 8px 0px;
  border-radius: 8px 8px 8px 0px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  position: absolute;
  z-index: 2;
  top: -1px;
  right: -1px;
  font-family: 'cuprum_bold',sans-serif;
  letter-spacing: 1px;
}

.pieChart {background-image:url('../../images/icon-pieChart.png');}
.graph {background-image:url('../../images/icon-graph.png');}
.magnifyingGlass {background-image:url('../../images/icon-magnifyingGlass.png');}