.note {
  margin-bottom: 15px;
}
.note-indicator {
  width: 15px;
  height: 15px;
  display: inline-block;
  float: left;
  background: #c5c5c5;
  border-radius: 1000px;
  margin-top: 9px;
}

.note-content {
  position: relative;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  margin-bottom: 4px;
  margin-left: 30px;
  line-height: 1.5;

  &:after,
  &:before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #f9f9f9;
    z-index: 1;
    left: -6px;
    top: 10px;
  }

  &:after {
    z-index: 0;
    left: -8px;
    border-right: 7px solid #8e8e8e;
  }



  .is-edit & {
    border-color: $brand-primary;

    &:after {
      border-right: 7px solid $brand-primary;
    }

  }
}

.note-footer {
  font-size: 90%;
  margin-left: 25px;
}
.note-footer:after {
  content: '';
  clear: both;
  display: table;
}
.note-options {
  float: right;
}

.note-add textarea {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
}



.note .note-item-content{
  display:block;
}
.note .note-state-edit{
  display:none;
}

.note.is-edit .note-item-content{
  display:none;
}
.note.is-edit .note-state-edit{
  display:block;
}

form.settings .formRow .file input {
  width: 180px !important;
}