//
// Pager pagination
// --------------------------------------------------


.pager {
    li {
        > a, > span {
            border-radius: 3px;
        }
    }
}


.pagination {

    > li {
        display: inline; // Remove list-style and block-level defaults
        > a,
        > span {
            line-height: 1.4;
        }
        }
    }