.panel {
  box-shadow: none;

  .pagination {
    margin: 0;
    float: right;
  }

  #tree {
    margin: 0!important;
  }

  + .title-legend {
    margin-top: 25px;
  }


}

.save_button_holder {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  text-align: right;
  margin-top: 15px;
}

.panel-heading {
  @include clearfix;
  position: relative;
  border-color: #ddd;
}

.panel-col2 {
  .panel-heading,
  .panel-body  {

    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      margin: auto;
      width: 100%;
      height: 100%;
      display: block;
      border-left: 1px solid $panel-default-border;
    }
  }
}

.panel-col3 {
  .panel-heading,
  .panel-body  {

    position: relative;
    overflow: hidden;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 33.33333%;
      margin: auto;
      width: 100%;
      height: 100%;
      display: block;
      border-left: 1px solid $panel-default-border;
    }

    &:after {
      left: 66.66666%;
    }
  }

  .row {
    > * {
      &:last-child {
        position: relative;
        z-index: 2;
      }
    }
  }
}


.panel-utility {
  @include clearfix;
  float: left;



  .search-inline {
    float: left;
    margin: 0;

    .form-control {
      min-width: 290px;
    }
  }

  > .list-inline {
    float: right;
    margin: 0;
  }

  .form-group {
    margin:0;
  }


  .panel-body & {
    padding: 0;
    border: 0;
  }
}



.filter-holder {

  @include clearfix;

  padding: 0px 0 14px;
}



.checkradio-block {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    padding: 5px 0;

    input {
      margin-right: 3px;
    }

    &:last-child {
      padding-bottom: 0;
    }

  }

}