$sidebar-menu-bg: $brand-primary;
$sidebar-menu-color: lighten($sidebar-menu-bg, 60%);
$sidebar-menu-hover-color: #fff;
$sidebar-menu-hover-bg: darken($sidebar-menu-bg, 10%);
$sidebar-menu-hover-border-color: #07bcff;
$sidebar-menu-submenu-bg: darken($sidebar-menu-bg, 15%);
$sidebar-submenu-color: lighten($sidebar-menu-submenu-bg, 40%);
$sidebar-submenu-hover-color: #fff;

@mixin sidebar-menu($rtl:false) {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $sidebar-menu-bg;
  a {
    color: $sidebar-menu-color;
    text-decoration: none;

    -webkit-transition-property: border,background,color;
    transition-property: border,background,color;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }

  //First Level
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    > a {
      padding: 12px;

      display: block;
      border-left: 3px solid transparent;
      color: $sidebar-menu-color;
      font-size: 15px;
      > .fa {
        width: 20px;
      }

    }

    &.open {
      > a {
        font-weight: bold;
      }

      .sidebar-submenu {
        display: block;
      }
    }

    &.active,
    &.open,
    &:hover {
      > a {
        color: $sidebar-menu-hover-color;
        background: $sidebar-menu-hover-bg;
        border-left-color: $sidebar-menu-hover-border-color;
      }
    }

    .label,
    .badge {
      margin-top: 3px;
      margin-right: 5px;
    }

    &.dropdown {
      > a {
        &:after {
          float: right;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f107";
          font-size: 18px;
        }
      }
    }

    .active {
      > a {
        font-weight: bold;
      }
    }
  }



  // Tree view menu
  .sidebar-submenu {
    display: none;
    list-style: none;

    @if $rtl {
      padding-right: 5px;
    }
    @else {
      padding-left: 5px;
    }
    padding: 8px 0;
    background: $sidebar-menu-submenu-bg;
    .sidebar-submenu {
      padding-top: 0;
      margin-bottom: 8px;

      @if $rtl {
        padding-right: 20px;
      }
      @else {
        padding-left: 20px;
      }


      > li {
        > a {
          font-size: 14px;
          padding: 4px 0;
        }
      }
    }
    > li {
      > a {
        @if $rtl {
          padding: 5px 15px 5px 5px;
        }
        @else {
          padding: 5px 5px 5px 15px;
        }

        display: block;
        font-size: 15px;
        color: $sidebar-submenu-color;
        > .fa {
          width: 20px;
        }
        > .fa-angle-left,
        > .fa-angle-down {
          width: auto;
        }
      }
      &.active > a, > a:hover {
        color: $sidebar-submenu-hover-color;
      }
    }
  }
}

.sidebar-menu {
  @include sidebar-menu;
}

.sidebar-menu-rtl {
  @include sidebar-menu(true);
}

.calendar-theme{
  .ui-datepicker{
    background-color: $brand-primary;
    .ui-state-default{
      color: #fff!important;
      border: 1px solid $brand-primary!important;
      border-radius: 0px;
      padding: 4px 0!important;

      &:hover, &:active, &:focus{
        background-color: $brand-primary-l;
        color: #fff!important;
        border: 1px solid $brand-primary-l!important;
      }
      &.ui-priority-secondary{
        background-color: rgba(#000,.18)!important;
        border-radius: 0px;

        &:hover, &:active, &:focus{
          color: #fff!important;
          opacity: 1;
          border: 1px solid #fff;
        }
      }
      
      &.ui-state-highlight{
        background-color: rgba(#fff,.9)!important;
        color: $brand-primary!important;
        &:hover, &:active, &:focus{
          background-color: #fff!important;
          color: $brand-primary!important;
        }
      }
      &.ui-state-active{
        background-color: rgba(#fff,.9)!important;
        color: $brand-danger!important;
        &:hover, &:active, &:focus{
          background-color: #fff!important;
          color: $brand-danger!important;
        }
      }
    }
    .ui-datepicker-calendar{
      th{
        background-color: rgba(#000,.2)!important;
        color: #fff!important;
      }
      .has-order-delivery{
        .ui-state-default{
          background-color: $brand-primary-l!important;
          border-radius: 0px;

          &.ui-state-active{
            background-color: rgba(#fff,.9)!important;
            color: $brand-danger!important;
            &:hover, &:active, &:focus{
              background-color: #fff!important;
              color: $brand-danger!important;
            }
          }
        }
      }
    }
  }
}

.calendar-light{
  .ui-datepicker-calendar{
    margin-bottom: 0px!important;
  }
  .ui-datepicker{
    background-color:#fff;
    td{
      border: 1px solid #e8e8e8;
      padding: 0 0;

      &.ui-datepicker-today{
        .ui-state-default{
          color: $brand-warning!important;
          background-color: #fff!important;
          &:hover, &:active, &:focus{
            background-color: rgba($brand-primary-l,.5)!important;
            color: $brand-primary!important;
          }
          &.ui-state-active{
            background-color: rgba($brand-primary,.9)!important;
            color: #fff!important;
            &:hover, &:active, &:focus{
              background-color: rgba($brand-primary-l,.5)!important;
              color: $brand-primary!important;
            }
          }
        }
      }
    }
    .ui-state-default{
      color: $font-color!important;
      border-radius: 0px;
      padding: 4px 0!important;
      width: 100%!important;

      &:hover, &:active, &:focus{
        background-color: rgba($brand-primary-l,.5)!important;
        color: $brand-primary!important;
      }

      &.ui-priority-secondary{
        background-color: rgba(#000,.18)!important;
        border-radius: 0px;

        &:hover, &:active, &:focus{
          color: $font-color!important;
          opacity: 1;
          border: 1px solid #fff;
        }
      }

      &.ui-state-highlight{
        background-color: rgba($brand-primary,.9)!important;
        color: #fff!important;
        &:hover, &:active, &:focus{
          background-color: rgba($brand-primary-l,.5)!important;
          color: $brand-primary!important;
        }
      }
      &.ui-state-active{
        background-color: rgba($brand-primary,.9)!important;
        color: #fff!important;
        &:hover, &:active, &:focus{
          background-color: rgba($brand-primary-l,.5)!important;
          color: $brand-primary!important;
        }
      }
    }
    .ui-datepicker-calendar{
      .has-order-delivery{
        .ui-state-default{
          background-color: rgba($brand-primary-l,.2)!important;
          border-radius: 0px;
          color: $brand-primary!important;

          &.ui-state-active{
            background-color: rgba($brand-primary,.9)!important;
            color: #fff!important;
            &:hover, &:active, &:focus{
              background-color: rgba($brand-primary-l,.5)!important;
              color: $brand-primary!important;
            }
          }
        }
      }
    }
  }
}
