

.section {
  border-top: 1px solid #edeff1;
  margin-top: 100px;
  padding-top: 45px;
  box-shadow: inset 0px 3px 4px -1px #fafafa;
}


/* Stats chart */
#statsChart {
  width: 100%;
  height: 250px;
}

/* specific chart styles */
.legendLabel {
  font-size: 12px;
  font-family: "Open Sans", Arial;
  color: #9da3a9
}

/* UI elements section */

#pad-wrapper .ui-elements h4 {
  margin-bottom: 35px;
}
.ui-elements .btn-flat {
  text-transform: uppercase;
}
.ui-elements .btn-flat.icon {
  text-transform: none;
}
.ui-elements .btn-flat.icon i {
  margin-right: 3px;
}
.ui-elements .knobs {
  overflow: auto;
}
.ui-elements .knob-wrapper {
  float: left;
}
.ui-elements .knob-wrapper .knob {
  box-shadow: none;
}
.ui-elements .ui-sliders {
  margin-top: 10px;
  margin-bottom: 50px;
}
.ui-elements .ui-slider {
  width: 95%;
}
.ui-elements .ui-slider.slider-sample2,
.ui-elements .ui-slider.slider-sample3 {
  margin-top: 20px;
}
.ui-elements .ui-group {
  margin-top: 35px;
}
.ui-elements .ui-group > * {
  margin-right: 5px;
  margin-bottom: 5px;
}
.knob-wrapper .info {
  position: relative;
  top: -20px;
}
.knob-wrapper .info .param {
  color: #9da3a9;
  text-align: center;
}
.knob-wrapper .info .param .line {
  background-color: #c4cdd8;
  height: 3px;
  width: 25px;
  display: inline-block;
  margin-right: 10px;
}
.knob-wrapper .info .param .line.blue {
  background-color: #30a1ec;
}

/* table sample below */

.table-products {
  width: 100%;
}
.table-products .filter-block{
  margin-bottom: 34px;
}
.table-products .filter-block .ui-select{
  margin-right: 20px;
  top: 1px;
  height: 24px;
  width: 150px;
}
.table-products .filter-block .search {
  margin: 0 60px 0 0;
}
.table-products .filter-block .new-product{
  padding: 4px 14px;
}
.table-products .table th input[type="checkbox"]{
  margin-top: 4px;
}
.table-products .table input[type="checkbox"]{
  float: left;
  margin-top: 11px;
  margin-right: 23px;
}
.table-products .table .img{
  height: 31px;
  float: left;
  background: white;
  width: 31px;
  border: 1px solid #dfe4eb;
  text-align: center;
  cursor: pointer;
  margin-right: 23px;
}
.table-products .table .img img{
  margin-top: 4px;
}
.table-products .table tr.first td{
  border-top: 0 none;
}
.table-products .table td a{
  text-decoration: underline;
  margin-top: 6px;
  display: inline-block;
}
.table-products .table td.description{
  vertical-align: middle;
  color: #516372;
}
.table-products .label {
  position: relative;
}
.table-products .table ul.actions{
  margin: 5px 0 0 0;
  padding: 0;
  float: right;
}
.table-products .table ul.actions li{
  display: inline;
  border-right: 1px solid #d0dde9;
  padding: 5px 6px 0px 3px;
}
.table-products .table ul.actions li.last{
  border: 0 none;
}
.table-products .table ul.actions i{
  cursor: pointer;
  opacity: 0.6;

  transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
}
.table-products .table ul.actions i:hover{
  opacity: 1;
}
.table-products .pagination{
  float: right;
  margin-top: 35px;
}


/* responsive */

@media (max-width: 480px) {

}
@media (max-width: 767px) {
  #main-stats {
    margin-left: 0px;
    margin-right: 0px;
  }
  .ui-elements .knobs {
    text-align: center;
  }
  .ui-elements .knobs .knob-wrapper {
    float: inherit;
  }
  .ui-elements .showcase {
    text-align: center;
  }
  .table-products .table .img {
    display: none;
  }
  .table-products .table input[type="checkbox"] {
    margin-right: 10px;
  }
  .table-products .table .label {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 979px) {
  #main-stats .stat .data {
    padding-right: 17px;
  }
  .knob-wrapper .info {
    display: none;
  }
  .pointer {
    top: 5%;
  }
}
@media (min-width: 980px) {
  .ui-elements .knob-wrapper + .knob-wrapper {
    margin-left: 5px;
  }
}
@media (min-width: 1200px) {
  .ui-elements .knob-wrapper + .knob-wrapper {
    margin-left: 35px;
  }
  .ui-elements .showcase {
    width: 53%;
  }
}


/////



.small-box {
  background-color: $brand-primary;
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;

  p,
  h3 {
    z-index: 5;
    color: #fff;
  }

  h3 {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0 0;
    white-space: nowrap;
    padding: 0;
  }

  p {
    font-size: 15px;

    >small {
      display: block;
      color: #f9f9f9;
      font-size: 13px;
      margin-top: 5px
    }
  }

  .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15)
  }

  >.inner {
    padding: 10px 16px;
  }

  >.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;

    &::hover {
      color: #fff;
      background: rgba(0,0,0,0.15)
    }
  }

  &:hover {
    text-decoration: none;
    color: #f9f9f9;

    .icon {
      font-size: 95px
    }
  }

  @media (max-width: 767px) {
    text-align:center;

    .icon {
      display: none
    }

    p {
      font-size: 12px
    }
  }
}



