.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {

  padding: 8px 16px;

}

.table-quick-view {
  position: relative;
  padding: 20px!important;
  font-size: 13px;

  background-color: #3c8dbc!important;

  .table {
    border: 0!important;
    margin-bottom: 0;
  }

  .title-legend {
    color: #fff;
    margin-top: 0;

    font-size: 14px;

    > span {
      margin-right: 10px;
      letter-spacing: 0;
    }
  }

  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    font-size: 13px;
  }


  .panel-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;  // last item
  }

  .alert {
    margin: 0;
    font-size: 14px;
  }

  .notes + div {
    margin-top: 10px;
  }


  .table-heading-actions {
    color: #fff;
    float: right;
    margin-top: -5px;

    > li {
      display: inline-flex;
      margin-left: 20px;

      > a {
        color: #fff;
        font-size: 16px;
      }
    }

  }



}

.table-quick-view-arrow {
  position: absolute;
  top: -10px;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3c8dbc;
}


.form-footer-actions {
  margin-top: 20px;
}