.breadcrumb {
  @include clearfix();
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;

  li {
    float: left;
    margin-right: 5px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #545454;
    text-transform: uppercase;

    a {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 12px;
      color: #545454;
      text-decoration: none;
      text-transform: uppercase;
    }

    &.active {
      color: #afafaf;
    }
  }



}