.btn {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #494949;
  text-transform: uppercase;
  letter-spacing: 1px;
  @nclude transition(all .4s linear);
}

.btn-stroked {
  position: relative;
  padding-right: 42px;
  border: 2px solid #c7c8c7;
  color: #848484;

  .icon {
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 30px;
  }

  &:hover {
    border-color: #737373;
    color: #737373;
  }
}

.btn-grey {
  background-color: #494949;
  color: #fff;

  &:hover {
    background-color: #313131;
    color: #fff;
  }
}

.btn-green {
  background-color: #72cd70;
  color: #fff;

  &:hover {
    background-color: #52b250;
    color: #fff;
  }
}

.btn-lg {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.btn-xlg {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 24px;
}

.btn-sm{
  padding: 10px 20px;
  font-size: 13px;
}

.btn-actions{
  @include clearfix();

  .btn{
    @media(max-width: 768px){
      display: block;
      margin-bottom: 10px;
    }
  }

  .pull-right{
    .btn{
      @media(max-width: 768px){
        display: block;
        margin-bottom: 10px;
      }
    }

    @media(max-width: 768px){
      float: none !important;
      margin-top: 10px;
    }
  }
}