.checkout-toggle {
    position: absolute;
    right: 75px;
}

.checkout-order {
    position: absolute;
    top: 81px;
    right: 0;
    z-index: 3;
    width: 350px;
    padding: 40px;
    background-color: #16a34f;
    color: #fff;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);

    opacity: 0;


    table {
        width: 100%;
    }

    thead th,
    tfoot th {
        color: #047331;
        line-height: 2.5;
    }

    tfoot th {
        text-align: right;
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        -webkit-transition-delay: 0.17s;
        transition-delay: 0.17s;
    }

    tbody td {
        padding: 0.45em 0;
        font-size: 0.9em;

    }

    tbody tr {

        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);

        &:nth-child(1) {
            -webkit-transition-delay: 0.045s;
            transition-delay: 0.045s;
        }

        &:nth-child(2) {
            -webkit-transition-delay: 0.06s;
            transition-delay: 0.06s;
        }

        &:nth-child(3) {
            -webkit-transition-delay: 0.085s;
            transition-delay: 0.085s;
        }

        &:nth-child(4) {
            -webkit-transition-delay: 0.11s;
            transition-delay: 0.11s;
        }

        &:nth-child(5) {
            -webkit-transition-delay: 0.13s;
            transition-delay: 0.13s;
        }
    }
}

.checkout-order-inner {
    opacity: 0;
}

.checkout-total {
    color: #fff;
}

.checkout-buttons {
    margin-top: 25px;
    text-align: right;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
}

.checkout-option {
    padding: 10px 16px;
    background-color: #323131;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.checkout-option-silent {
    background-color: transparent;
    color: #fff;
}

.js-cart-counter {
    position: relative;
    z-index: 3;
    padding-top: 26px;
    padding-bottom: 24px;
    padding-left: 26px;
    padding-right: 26px;
    border-right: 1px solid #434141;
    font-size: 22px;
    color: #b6b6b6;
    cursor: pointer;
    @nclude transition(all .1s cubic-bezier(0.2, 1, 0.3, 1));

    &.is-triggered {
        background-color: #16a34f;
        color: #fff;
    }
}


.search-toggle-btn {
    position: relative;
    z-index: 3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 26px;
    border-right: 1px solid #434141;
    font-size: 22px;
    color: #b6b6b6;
    cursor: pointer;
    @nclude transition(all .1s cubic-bezier(0.2, 1, 0.3, 1));

    &.is-triggered {
        background-color: #16a34f;
        color: #fff;
    }
}


.is-triggered {
    .checkout-order-inner {
        opacity: 1;
        -webkit-transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    }

    .checkout-order {
        -webkit-transform: translate3d(0, 0, 0) translate3d(0, 0, 0) ;
        opacity: 1;

        tbody tr,
        tfoot th,
        .checkout-buttons {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

.checkout-title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    color: #494949;
    text-transform: uppercase;
}

.checkout-information {
    margin-top: 15px;
    padding-top: 40px;
    border-top: 1px solid #e8e8e9;

    h3 {
        margin-bottom: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #494949;
        text-transform: uppercase;
    }

    form{
        margin-top: .5em;
    }
}

.checkout-login-section {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    .btn {
        margin-left: 15px;
    }
}