.list-inline{
  @include clearfix();

  > li {
    width: 20%;
    float: left;
    margin: 10px 0;
    text-align: center;

    > a{
      transition: .2s linear all;
      -webkit-transition: .2s linear all;
      -moz-transition: .2s linear all;
      -ms-transition: .2s linear all;
      -o-transition: .2s linear all;

      &:hover{
        text-decoration: none;

        .product-title, .product-price{
          color: #72cd70;
        }
      }
    }

    img{
      margin: auto;
    }
  }

}

.list-block{
  @include clearfix();

   li{

     a{
       transition: .2s linear all;
      -webkit-transition: .2s linear all;
      -moz-transition: .2s linear all;
      -ms-transition: .2s linear all;
      -o-transition: .2s linear all;

      &:hover{
        text-decoration: none;

        .product-content{
          text-decoration: none;

          .product-title{
            color: #72cd70;
          }
        }

        
      }
    }
  }
}

.list-details{
  text-align: left;

  li {

    a{
      color: #333333;
      display: block;
      padding: 10px;

      &:hover{
        color: #fff;
        text-decoration: none;
        background: #72cd70;
      }
    }
  }
}

.pagination_list{

    li{
        list-style: none;
        float: left;
        margin: 0;
      margin: 0 2px;

      &.active{
        color: #fff;
          background: #72cd70;
        a{
          color: #fff;
          background: #72cd70;
        }
      }

      a{
        color: #737373;
        padding: 2px 10px;
        border-radius: 4px;
        background: #ddd;

        &:hover{
          color: #fff;
          background: #72cd70;
          text-decoration: none;
        }
      }
    }
}

.pagination_holder{
    width: 100%;
    float: left;
    padding: 5px 0 0 0;
}

.pagination_list_holder{
    text-transform: uppercase;
    float: left;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px
}



.no-stock{
    position: relative;
    img{
        opacity: 0.5;
    }

    .ribbon-title{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #fff; 
    }
}

.ribbon{
      background: #E44141;
      position: absolute;
      top: 0;
      right: -19px;
      padding: 10px;

      &:before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: -13px;
        top: 0;
        border-top: 17px solid #E44141;
        border-bottom: 18px solid #E44141;
        border-left: 14px solid transparent;
        -webkit-transition: all 0.05s ease;
      }

      &:after{
        content: "";
        position: absolute;
        right: 0px;
        top: 35px;
        width: 0;
        height: 0;
        border-top: 0;
        border-left: 20px solid #BE3030;
        border-bottom: 10px solid transparent;
        -webkit-transition: all 0.05s ease;
      }
}

// validation
li{
    &.required, &.type, &.minlength, &.equalto{
      z-index: 10;
      position: absolute;
      right: 0;
      top: 0;
      background: #72cd70;
      color: #fff;
      padding: 0 5px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 3px;

    &:after{
     width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #72cd70;
    position: absolute;
    content: '';
    bottom: -6px;
    right: 0;
    }
  }
}

.div-discount-error {
  z-index: 10;
  position: absolute;
  right: 35%;
  top: 10px;
  background: #72cd70;
  color: #fff;
  padding: 0 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;

  &:after{
     width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #72cd70;
    position: absolute;
    content: '';
    bottom: -6px;
    right: 0;
    }
}

///


// .input-group-btn{
//   position: relative;
// }


.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
}

.label-heading{
  padding-bottom: .5em;
  border-bottom: 1px solid #e8e8e9;
}

.label-title{
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #545454;
  margin-bottom: 5px;
}

.bootstrap-touchspin-down{
  display: block;
  background: #ebebeb;
  border-left: 0;
  border-bottom: 1px solid #c7c8c7;
  border-right: 1px solid #c7c8c7;
  height: 22px;
  width: 17px;
  font-size: 11px;
  line-height: 0;
  border-bottom-right-radius: 4px;

  &:focus{
    outline: 0;
  }
}

.bootstrap-touchspin-up {
  display: block;
  background: #ebebeb;
  border-top-width: 1px;
  border-left: 0;
  border-bottom: 1px solid #c7c8c7;
  border-right: 1px solid #c7c8c7;
  height: 22px;
  width: 17px;
  font-size: 11px;
  line-height: 0;
  border-top-right-radius: 4px;

  &:focus{
    outline: 0;
  }
}

.bootstrap-touchspin-prefix:empty, .bootstrap-touchspin-postfix:empty {
  display: none;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}


.search-toggle {
  position: absolute;
  right: 0;
}

.search-wrapper {
  position: absolute;
  top: 61px;
  right: 0;
  width: 350px;
  padding: 40px;
  background-color: #16a34f;
  color: #fff;
  // -webkit-transform: translate3d(110px, 0, 0);
  // transform: translate3d(110px, 0, 0);
  // -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  // transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);

  opacity: 0;

}

.search-wrapper-inner {
  opacity: 0;

  .form-control{
    height: 46px;
    box-shadow: none;

    &:focus{
      border: 1px solid #c7c8c7;
    }
  }
}

.is-triggered {
  .search-wrapper-inner {
    opacity: 1;
    -webkit-transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
  }

  .search-wrapper {
    -webkit-transform: translate3d(0, 0, 0) translate3d(0, 0, 0) ;
    opacity: 1;
    z-index: 3;
  }
}


.right{
  float: right;

  select{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: '' none 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' none 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' none 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: '' none 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #c7c8c7;
    background: #fff;

    &:focus{
      outline: 0;
    }
  }
}


// layout
.l-sidebar{
  border: 1px solid #ddd;

  @media(max-width: 767px){
    margin-bottom: 25px;
  }
}

.l-aside{
  @extend .l-sidebar;
  padding: 10px;
}

.note{
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 1.5em;
  position: relative;

  &-title{
    color:#545454;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
  }
}

.panel{

  .panel-heading{
    background: #72cd70;
    padding: 15px;
    color: #fff;
  }

  .panel-body{
    &-title{
      margin-bottom: 10px;

      span{
        color: #72cd70;
      }
    }

    a{
      color: #72cd70;
    }

    .copy{
      p{
        margin-bottom: 10px;
      }
    }
  }

}

.link-default{
  color: #737373;

  &:hover{
    color: #72cd70;
  }
}


//  popup
div#cboxOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

#cboxWrapper .grid_12 {
  margin: 10px 0 2.5em;
  text-align: center;
  display: block;
}

button#cboxClose {
  padding: 10px;
  border: 0;
  background: rgb(114, 205, 112);
  color: #fff;
  border-radius: 4px;
  width: 100%;
  text-transform: uppercase;
}

#cboxContent, #cboxWrapper #cboxContent {
  padding: 20px;
  height: auto!important;
  display: block;
}

#cboxLoadedContent{
  .legend{
    text-align: center;
    font-family: 'Roboto';

    h2{
      font-weight: 100;
      font-size: 40px;
    }
  }
}

#cboxWrapper {
  height: auto!important;
  width: auto!important;
  -webkit-box-shadow: 0px 0px 0px 10px #ffffff;
  box-shadow: 0px 0px 0px 10px #ffffff;
  border-radius: 0;
  // border: 3px solid #72cd70;
  padding: 40px;
}

#colorbox {
  z-index: 1050;
  background: #fff;
  height: auto!important;
  max-width: 100%!important;
  width: auto!important;

  &:focus{
    outline: none;
  }
}

#cboxLoadedContent, #cboxWrapper #cboxLoadedContent {
  overflow: auto;
  width: auto!important;
  height: auto!important;
}



/////

.app-content {
  padding-top: 60px;
  padding-bottom: 60px;

  @include clearfix();
}

.copy {
  h2 {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 400;
    color: #545454;
    line-height: 1.6;
  }

  p {
    margin-bottom: 30px;
    font-size: 15px;
    color: #545454;
    line-height: 1.8;
  }

  h3 {
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 400;
    color: #545454;
    line-height: 1.6;
  }
}

.copy-colored {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #7f7e7e;
  line-height: 2;
  letter-spacing: 2px;
}

.copy-title {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 400;
  color: #545454;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.copy-title-sm{
  p{
    @extend .copy-title;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: none;
  }
}

.map {

  iframe {
    background-color: #eee;
    border-radius: 4px;
  }

  ul {
    margin-top: 25px;

    li {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      color: #a7a9ac;
      line-height: 1.6;
    }

    a {
      color: #a7a9ac;
      text-decoration: none;
    }

    @media(max-width: 1024px){
      margin-bottom: 20px;
    }
  }
}



////


.blurb {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
  text-align: center;
}

.blurb-title {
  font-size: 24px;
  color: #545454;
}


////


.newsletter-subscribe {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #494949;
  text-align: center;

  display: none;

  li{
    &.required{
      right: 22%;
      top: -28px;
    }
  }
}


.no-image {
    font-size: 70px;
    color: #dddddd;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%);
}