.featured-products {
    padding-top: 50px;
    padding-bottom: 50px;
}

.featured-title {
    margin-bottom: 80px;
    font-size: 24px;
    color: #494949;
    text-align: center;
    text-transform: uppercase;
}

.product-item {
    a {
        display: block;
        margin-bottom: 40px;
        border-radius: 4px;
        border: 2px solid #c7c8c7;
        text-align: center;
        @nclude transition(all .4s linear);

        &:hover {
            border-color: #494949;
            text-decoration: none;

            .product-display {
                border-top-color: #494949;
            }
        }
    }
}

.product-img{
    min-height: 321px;
    position: relative;

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}



.product-block{
    border-radius: 8px;
    border: 1px solid #dddddd;
    margin-bottom: 1.5em;
    @include clearfix();

    .product-img{
        width: 300px;
        margin:auto;
        min-height: 310px;
        text-align: center;

        img{
            max-width: 100%;
        }
    }

    .product-heading{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 10px;

        @include clearfix();

        h3{
            float: left;
        }

        span{
            float: right;
        }
    }

    .product-content{
        background-color: #F5F5F5;
        padding: 10px;
        @include clearfix();
        
    }
}

.product-display {
    display: table;
    width: 100%;
    position: relative;
    border-top: 2px solid #c7c8c7;
    background-color: #f6f6f6;
    padding: '0';
    text-align: left;
    @include transition(all .4s linear);
}

.product-content {
    font-size: 18px;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: top;
    padding: 14px;

    p{
        text-transform: none;
    }

    .product-title{
        // width: 100%;
    }
}

.product-title {
    font-family: 'Roboto', sans-serif;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 400;

    color: #848484;
    line-height: 1;
}

.product-price {
    font-family: 'Roboto', sans-serif;
    color: #494949;
}

.product-action {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: #494949;
    font-size: 1.300em;
    border-bottom-right-radius: 2px;

    .icon {
        color: #fff;
        -webkit-font-smoothing: auto;
    }

    &:hover {
        background: black;
        i {
            color: $brand-primary;
        }
    }
}

.category-products {
    padding-top: 20px;
    padding-bottom: 90px;
}