.form-subscribe {
  max-width: 700px;
  margin: 0 auto;

  .input-group {
    width: 100%;
  }

  label {
    padding-top: 10px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    font-weight: 300;
  }

  .btn {
    position: absolute;
    right: -4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 2;
  }

  .form-control {
    border-radius: 4px;
    padding: 13px;
    height: auto;
    border: 0;
  }
}

.form-group{
  position: relative;
}

.form-control {
  height: 42px;
  @include box-shadow(none);
  border-radius: 3px;
  border: 1px solid #c7c8c7;


  &:focus {
    @include box-shadow(none);
    border-color: #16a34f;

  }
}

.form-control-lg {
  height: 56px;
  border: 2px solid #c7c8c7;
}

.form-action {
  margin-top: 60px;
  margin-bottom: 20px;
}

.captcha {
  .form-control {
    padding-left: 20px;
    float: right;
    width: 55.59%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-width: 1px;
    height: 48px;

    @media(max-width: 1199px){
      width: 45.90%;
    }

    @media(max-width: 991px){
      width: 65.80%;
    }

    @media(max-width: 767px){
      width: 100%;
      float: none;
      border-left: 1px solid #c7c8c7;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    // @media(max-width: 640px){
    // 	width: 59.60%;
    // }

    // @media(max-width: 480px){
    // 	width: 100%;
    // 	border-left: 1px solid #c7c8c7;
    // 	border-top-left-radius: 4px;
    // 	border-bottom-left-radius: 4px;
    // }
  }
}

.captcha-holder {
  float: left;
  padding: 4px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #eeeeee;
  border: 1px solid #ccc ;

  @media(max-width: 767px){
    float: none;
    border-radius: 3px;
    margin-bottom: 10px;
  }
}

.captcha-img {
  float: left;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.captcha-refresher {
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;

  @media(max-width: 767px){
    float: right;
  }
}

.form-checkout {
  margin-top: 40px;

  .form-group {
    margin-bottom: 25px;
  }

  .form-label {
    margin-bottom: 10px;
  }
}

.form-create{
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea{
  -webkit-appearance: none;
}

.ui-datepicker-trigger {
  position: absolute;
  //background-color: #008bd6;
  top: 0;
  right: 0;
  margin: 7px;
}