.bootstrap-touchspin{
	.input-group-btn-vertical {
		position: relative;
		white-space: nowrap;
		width: 1%;
		vertical-align: middle;
		display: table-cell;

		.bootstrap-touchspin-up{
			i{
				width: 100%;
				left: 0px;
				text-align: center;
				display: inline-block;
				&:before{
					content: "+";
					line-height: 1;
					font-style: normal;
				}
			}
		}
		.bootstrap-touchspin-down{
			i{
				width: 100%;
				left: 0px;
				text-align: center;
				display: inline-block;
				&:before{
					content: "-";
					line-height: 1;
					font-style: normal;
				}
			}
		}
	}
	
	
}