.modal-title{
  .label-title();
}

.modal-body{
  .label-title{
    font-size: 28px;
    margin-left: 17px;
  }
  > .app-content{
    padding-top: 0;
  }

  .label-heading{
    border-bottom: 0;
  }

  .app-content{
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.modal-header{
  border-bottom: 0;
  padding: 0;
}

.modal-dialog{
    min-width: 620px;
}

.modal-open{
  .modal{
    background: rgba(0, 0, 0, 0.8);
  }
}