h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0;
	margin-bottom: 22px;
}

h1, .h1 {
	font-size: 38px;
}

h2, .h2 {
	font-size: 24px;
}

a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}


label {
	font-weight: 700;
}
