.pagination {
  background: #eee;
  padding: 0 3px;


  > li {
    > a,
    > span {
      color: $gray;
      border: 0;
      padding: 10px 8px 11px;
      line-height: 1;

      background: transparent;
    }
  }

  .active {
    > a,
    > a:hover,
    > a:focus,
    > span,
    > span:hover,
    > span:focus {
      background: transparent;
      color: $brand-primary;
      font-weight: 600;

    }
  }
}

