.slider-primary{
	text-align: center;

	.item{
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 500px;
	}
	.slide-title{
		margin-bottom: 30px;
		font-size: 50px;
		letter-spacing: 4px;
	}
	.slide-content{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		color: #fff;
		text-align: center;
	}
}


.slider-single {
	border: 2px solid #494949;
	border-radius: 8px;
	position: relative;
	margin-bottom: 30px;
	.slides{

	}
	.item{
		padding: 0 0;
		img{
			margin: auto;
		}
	}

}
.slider-single-nav {
	margin-right: -5px;
	margin-left: -5px;
	.slides{
		
	}
	.item{
		margin: 0 5px;
		border: 2px solid #494949;
		border-radius: 8px;
		position: relative;

		img{
			margin: auto;
		}
	}
}


.slider-title{
	text-align: center;

	.item{
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 250px;
	}
	.slide-title{
		margin-bottom: 30px;
		font-size: 50px;
		letter-spacing: 4px;
	}
	.slide-content{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		color: #fff;
		text-align: center;
	}
}