.social {
	margin-top: 80px;
	padding: 0;
	list-style: none;

	li {
		float: left;
		margin-right: 8px;

		&.facebook {
			a {
				background-color: #375a9d;
			}
		}

		&.twitter {
			a {
				background-color: #3ea5f0;
			}
		}

		&.google {
			a {
				background-color: #e7402f;
			}
		}
	}

	a {
		display: block;
		padding: 2px;
		font-size: 30px;
		border-radius: 4px;
		color: #fff;
		line-height: 0;
		background-color: #222;

		&:hover{
			text-decoration: none;
		}
	}
}