.table-bordered-l1{
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
  font-size: 15px;
  margin-bottom: 0;

  // .box-shadow(0 0 0 1px #c7c7c7);

  thead{
    > tr{
      font-family: 'Roboto', sans-serif;
      background: #72cd70;
      color: #fff;
      text-transform: uppercase;

      > td{
        padding: 15px;
      }
    }
  }

  tbody{
    > tr{
      > td{
        padding: 15px;

        &:nth-child(3){
          width: 10%;
        }

        &:last-child{
          width: 4%;
        }
      }
    }
    tr{
      td{
        a{
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }

  tfoot{
    background: #f9f9f9;

    > tr{
      > td{
        padding: 15px;
      }
    }
  }

  .icon-close {
    background: #eeeeee;
    border-radius: 50%;
    padding: 3px;
    color: #ABABAD;
    font-size: 12px;

    &:hover{
      background: #dddddd;
      text-decoration: none;
    }
  }
}

.table-l2{
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
  font-size: 15px;
  margin-bottom: 0;
  // .box-shadow(0 0 0 1px #c7c7c7);

  thead{
    tr{
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;

      td{
        background: #72cd70;
        padding: 15px;

      }
    }
  }

  tbody{
    tr{
      td{
        padding: 15px;
      }
    }
    tr:nth-child(even){
      background: #f9f9f9;
      td{

      }
    }
    tr{
      td:first-child{
        width:35%;
        border-right: 1px solid #ddd;
        vertical-align: middle;
      }
    }
  }
}

.table-l3{
  @extend .table-l2;
  margin-bottom: 0;

  thead{
    tr{
      td{
        p{
          font-size: 14px;
          text-transform: none;
        }
      }
    }
  }
  tbody{
    tr{
      td:first-child{
        width: auto;
        border-right: 0;
      }

      td{
        padding: 15px;
        a{
          color: #737373;
          border: 2px solid #c7c8c7;
          padding: 0 10px;
          border-radius: 4px;

          &:hover{
            border-color: #737373;
            text-decoration: none;
          }
        }
      }
    }
  }

  tfoot{
    tr{
      td{
        padding: 15px;
        ul{
          li{
            display: inline-block;
            margin: 0 2px;

            &.active{
              a{
                color: #fff;
                background: #72cd70;
              }
            }

            a{
              color: #737373;
              padding: 2px 10px;
              border-radius: 4px;
              background: #ddd;

              &:hover{
                color: #fff;
                background: #72cd70;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.table-responsive{
  margin-bottom: 20px;
  border: 1px solid #c7c7c7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

