.nav-tabs{

	> li {
		float: left;
		margin-bottom: -1px;
		position: relative;
		display: block;

		a{
		  color: #555;
		  margin-right: 2px;
		  line-height: 1.42857143;
		  border: 1px solid transparent;
		  border-radius: 4px 4px 0 0;
		  position: relative;
		  display: block;
		  padding: 10px 15px;

		  &:hover, &:focus{
		  	text-decoration: none;
		  }
		}

		&.active{
			> a {
				  color: #555;
				  cursor: default;
				  background-color: #fff;
				  border: 1px solid #e8e8e9;
				  border-bottom-color: transparent;
			}
		}
	}

	&:before, &:after{
		clear: both;
		content: '';
		display: table;
	}
}

.tab-content{
	padding: 15px;
	display: block;
	border-top: 1px solid #e8e8e9;
	
	> .tab-pane{
		display: none;
	}

	> .active{
		display: block;
	}

	.article_image{
		width: 250px;
	}	
}



.fade{
	  opacity: 0;
	  -webkit-transition: opacity .15s linear;
	  -o-transition: opacity .15s linear;
	  transition: opacity .15s linear;
	&.in{
		opacity: 1;
	}
}